<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890973467415-pvkrpqf1b48eurvo5k60ttvjfq3dfaeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890973467415-pvkrpqf1b48eurvo5k60ttvjfq3dfaeb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtwREu5-Etbw2awdMdbMk777EO3HjFFZU</string>
	<key>GCM_SENDER_ID</key>
	<string>890973467415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ratemyparking</string>
	<key>PROJECT_ID</key>
	<string>driver-rating-b7896</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-rating-b7896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890973467415:ios:702c299e0fd17d0d78bd52</string>
</dict>
</plist>